# ───────── SERVER CONFIG ─────────
PORT=5000

# ───────── MONGODB ATLAS ─────────
# Get this from MongoDB Atlas dashboard.
# Example: mongodb+srv://<user>:<password>@cluster.mongodb.net/portfolio
MONGO_URI=your_mongodb_connection_string

# ───────── CLOUDINARY ─────────
# Get these from Cloudinary dashboard.
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
